{% extends 'analytics_project/index.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row mt-3 pt-3">
    
    <div class="col-md-12">
        <canvas id="myChart" width="400" height="100"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ {% for country in topten %} '{{country.Country}}' , {% endfor %} ],
        datasets: [{
            label: '# COVID19 Top 10 Countries',
            data: [{% for country in topten %} '{{country.Total_Cases}}' , {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(217, 237, 146, 0.2)',
                'rgba(26, 117, 159, 0.2)',
                'rgba(144, 190, 109, 0.2)',
                'rgba(87, 117, 144, 0.2)',

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(217, 237, 146, 1)',
                'rgba(26, 117, 159, 1)',
                'rgba(144, 190, 109, 1)',
                'rgba(87, 117, 144, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
    </div>
</div>
{% endblock %}